header {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 60px;
  z-index: 100;

  .wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    //background-color: $bc-primary;

    .header-wrapper {
      position: relative;
      width: 100%;
      height: 60px;
      border: 5px solid transparent;
      display: inline-block;

      @media (max-width: 991px) {
        width: 100%;
        background-color: $bc-secondary;
        height: 45px;
        background-size: 202px 58px;
      }

      .brand {
        background-image: url("../../images/header-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 210px;
        height: 60px;
        display: block;
        float: left;
        text-indent: 9999px; //moves brand text out of display area
      }

      .right-wrapper {
        display: inline-block;
        height: 60px;
        width: calc(100% - 210px); // width of a page minus width of brand image - otherwise if > goes into a new line
        background-color: $bc-primary;

        .hamburger-wrapper {
          display: block;
          width: 130px;
          height: 60px;
          float: left;

          .hamburger-anim {
            width: 24px;
            height: 24px;
            float: left;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;
          }

          .hamburger-anim span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $bc-secondary;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            // when javascript function click removes class open it will make 1st element width go to 0 thus making it invisible
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
          }

          .hamburger-anim span:nth-child(1) {
            top: 0 px;
          }
          // 2nd and 3rd span element have the same position thus looking like one
          .hamburger-anim span:nth-child(2),
          .hamburger-anim span:nth-child(3) {
            top: 8px;
          }

          .hamburger-anim span:nth-child(4) {
            top: 16px;
          }
          // when javascript function click adds class open it will make 1st element width go to 0 thus making it invisible and moving it 
          .hamburger-anim.open span:nth-child(1) {
            top: 6px;
            width: 0%;
            left: 50%;
          }
          // when javascript function click adds class open it will rotate 2nd span element 45 degrees cws
          .hamburger-anim.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          // when javascript function click adds class open it will rotate 3rd span element 45 degrees ccws
          .hamburger-anim.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          // when javascript function click adds class open it will make 4th element width go to 0 thus making it invisible and moving it
          .hamburger-anim.open span:nth-child(4) {
            top: 6px;
            width: 0%;
            left: 50%;
          }

          .hamburger-text {
            //font-family: "DosisSB";
            text-transform: uppercase;
            margin-left: 15px;
            margin-top: 26px;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.08em;
            color: $bc-secondary;
            cursor: pointer;
            display: inline-block;
            float: left;
          }
        }
      }
    }
  }
}
