@font-face {
  font-family: 'DosisSB';
  src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
a {
  font-family: "ff-enzo-web", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.12em;
  font-size: 13px;
  line-height: 11px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  background-color: #555;
}
